<h3 class="current-category"><%= params[:category] %></h3>
<% if @docs.count == 0 %>
<h4>There are no docs in this category.</h4>

<% else %>

  <div class="row">

    <% @docs.each do |doc| %>

      <div class="col-md-3">
        <a href="/docs/<%= doc.id %>">
          <%= image_tag doc.doc_img.url(:doc_index), class: "doc" %>
        </a>
      </div>

    <% end %>

  </div>

<% end %>
