<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>

<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>

    <%= link_to "Edit", edit_doc_review_path(review.doc, review) %>
    <%= link_to "Delete", doc_review_path(review.doc, review), method: :delete, data: { confirm: "Are you sure?"} %>

  <% end %>
<% end %>
